# discard .idea pycharm folder
.idea/

# discard excel files being edited
~$*.xlsx

# discard the virtual environment
venv

# discard the log file
knime2python/api.log

# discard the config file
knime2python/config/config_eu.yml

# For Mac
*.DS_Store

# Do not sync __pycache__
__pycache__/
.cache/
transition-pathway-explorer/node_modules/.cache/
transition-pathway-explorer/node_modules/.cache/**

# Remove jupiter checkpoints
.ipynb_checkpoints
*checkpoint*

#Remove history
.Rhistory